// Base

// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Thin.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Thin.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Thin.svg#dc9a26cca500b040347ee82b781de72a') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  100;
// }
//
// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-ExtraLight.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-ExtraLight.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-ExtraLight.svg#5f8f3eb50ba1d35c02cd251081eb2021') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  200;
// }
//
// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Light.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Light.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Light.svg#7f390ab1ed4575c0c535ed9378dd4959') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  300;
// }
//
// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Regular.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Regular.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Regular.svg#98f2b05845e99896f66b5267f9b54840') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  400;
// }

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Book.svg#9bc3bb3e3fd3df276ffd2962ab82504e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Medium.svg#730adcd944c85cc60c01bda9f978ca06') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}




/* Futura-Light-Italic webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Light-Italic';
    src: url('../fonts/Futura-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Light-Italic.woff') format('woff'),
         url('../fonts/Futura-Light-Italic.ttf')  format('truetype'),
         url('../fonts/Futura-Light-Italic.svg#webfont') format('svg');
}

/* Futura-Bold-Italic webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Bold-Italic';
    src: url('../fonts/Futura-Bold-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold-Italic.woff') format('woff'),
         url('../fonts/Futura-Bold-Italic.ttf')  format('truetype'),
         url('../fonts/Futura-Bold-Italic.svg#webfont') format('svg');
}

/* Futura-Bold webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold.woff') format('woff'),
         url('../fonts/Futura-Bold.ttf')  format('truetype'),
         url('../fonts/Futura-Bold.svg#webfont') format('svg');

         font-style: normal;
         font-weight: 700;
}

/* Futura-Book-Italic webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Book-Italic';
    src: url('../fonts/Futura-Book-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Book-Italic.woff') format('woff'),
         url('../fonts/Futura-Book-Italic.ttf')  format('truetype'),
         url('../fonts/Futura-Book-Italic.svg#webfont') format('svg');
}

/* Futura-Book webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Book';
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Book.woff') format('woff'),
         url('../fonts/Futura-Book.ttf')  format('truetype'),
         url('../fonts/Futura-Book.svg#webfont') format('svg');

         font-style: normal;
         font-weight: 400;

}

/* Futura-Light webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Light';
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Light.woff') format('woff'),
         url('../fonts/Futura-Light.ttf')  format('truetype'),
         url('../fonts/Futura-Light.svg#webfont') format('svg');
}

/* Futura-Medium-Italic webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Medium-Italic';
    src: url('../fonts/Futura-Medium-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Medium-Italic.woff') format('woff'),
         url('../fonts/Futura-Medium-Italic.ttf')  format('truetype'),
         url('../fonts/Futura-Medium-Italic.svg#webfont') format('svg');
}

/* Futura-Medium webfont (new-bulletproof) */
@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Medium.woff') format('woff'),
         url('../fonts/Futura-Medium.ttf')  format('truetype'),
         url('../fonts/Futura-Medium.svg#webfont') format('svg');
}

// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Bold.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Bold.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Bold.svg#52471c22e7b41994c6b7f2e56e29082b') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  700;
// }
//
// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Black.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Black.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Black.svg#a1898fc476260e29a96be7136a798323') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  800;
// }

// @font-face {
//   font-family: 'Geomanist';
//   src: url('../fonts/Geomanist-Ultra.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/Geomanist-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/Geomanist-Ultra.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/Geomanist-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/Geomanist-Ultra.svg#0305dc8e93f36aff0cb18390b872a2ba') format('svg'); /* Legacy iOS */
//
//   font-style:   normal;
//   font-weight:  900;
// }

.hvr-forward {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-forward:active,
.hvr-forward:focus,
.hvr-forward:hover {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
}

@keyframes hvr-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Hover Down */
.hvr-down {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-down:hover, .hvr-down:focus, .hvr-down:active {
  -webkit-animation-name: hvr-down;
  animation-name: hvr-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.menu-modal .uk-nav-primary {
  margin-top: 20vh;
  font-family: "Futura-Medium", system-ui;
  letter-spacing: 3px;
  .uk-active a, a:hover {
    //text-decoration: underline;
  }
}

@mixin hook-text-lead(){
  font-family: "Futura-Medium", system-ui;
}
@mixin hook-heading-hero(){
  letter-spacing: 14px;
  text-transform: uppercase;
}
@mixin hook-navbar-nav-item(){
  letter-spacing: 2px;
  font-weight: inherit;
}
@mixin hook-navbar-nav-item-hover(){
  text-decoration: underline;
}
@mixin hook-navbar-nav-item-active(){
  text-decoration: underline;
}
// @mixin hook-base-h1(){}
// @mixin hook-base-h2(){}
@mixin hook-base-misc(){
  @media (min-width: $breakpoint-small) {
    h3 {
      font-size: 2.25rem;
    }
    h4 {
      font-size: 1.75rem
    }
  }
}
@mixin hook-text-misc(){
  @media (min-width: $breakpoint-small) {
    .uk-text-lead {
      font-size: 1.5rem;
    }
  }
  @media (min-width: $breakpoint-medium) {
    .uk-text-lead {
      font-size: 1.625rem;
    }
  }
}
.uk-light .navbar-search-icon {
  fill: #fff;
}
.section-about {
  box-sizing: border-box;
  min-height: 100vh;
  //background: linear-gradient(142.35deg, #304FFE 14.45%, #304FFE 14.45%, #1C06A1 100.46%);
  background: linear-gradient(125.42deg, #3806A1 0%, #3806A1 0%, #304FFE 100%);
}
.wrapper-about {
  // top: 140px;
  // left: 0;
  // right: 0;
  // bottom: 110px;
  //min-height: 500px;
  box-sizing: border-box;
  min-height: calc(100vh - 280px);
}
.section-about-bg {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.about-scroll {
  height: 140px;
  a {
    padding: 46px 10px 0 0;
  }
}
.work .uk-card-title {
  font-size: 3rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}
@mixin hook-card-title(){
  //word-break: break-word;
}
@mixin hook-card-body(){
  a:hover {
    text-decoration: none;
  }
}
@mixin hook-card-misc(){
  .uk-card-media-left + div .uk-card-body {
    padding-right: 0;
  }
  .uk-card-media-right + div .uk-card-body {
    padding-left: 0;
  }
  @media (max-width: $breakpoint-medium) {
    .uk-card-media-left + div .uk-card-body {
      padding-left: 0;
    }
  }
}
.section-services {
  //background: linear-gradient(136.16deg, #FBFF4F 16.89%, #FBFF4F 16.89%, #F0D800 92.21%);
  background: #f2f000;
  ul {
    line-height: 1.3;
    //font-size: 1.375rem;
  }
  .footer {
    a {
      text-decoration: underline;
      &:hover {
        //color: $accent-color;
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
    .text-xlarge {
        font-size: $home-text-font-size-s;
    }

    .section-services {
      ul {
        //font-size: 1.6875rem;
      }
    }

}
@media (min-width: $breakpoint-medium) {
    .text-xlarge {
        font-size: $home-text-font-size-m;
        p {
            margin-bottom: $global-large-margin;
        }
    }


}
.section-overlay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.section-blog-overlay, .section-categories-overlay {
  background: rgba(52,48,254,0.85);
  //background: linear-gradient(134.28deg, rgba(52, 48, 254, 0.85) 18.87%, rgba(102, 48, 254, 0.85) 77.3%);
}
.section-learning-overlay {
  //background: linear-gradient(165deg, rgba(255, 255, 255, 0.96) 18.87%, rgba(255, 255, 255, 0.8) 77.3%);
  background: rgba(52,48,254,0.85);
}
.section-tools-overlay {
  //background: linear-gradient(165deg, rgba(0, 255, 149, 0.9) 18.87%, rgba(145, 255, 1, 0.7) 77.3%);
  background: rgba(52,48,254,0.85);
}

.card-label {
    display: inline-block;
    padding: 6px 10px 4px;
    border: solid 1px #b2b2bb;
    line-height: 1;
    font-size: .8125rem;
    color: #95959c;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 15px;
    text-transform: uppercase;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

// Global
a.uk-logo {
    font-weight: 300;
    font-size: 1.4375rem;
    letter-spacing: 1px;
    span {
        font-weight: 400;
        margin-right: 5px;
    }
}
#search-results {
  padding: 0;
  li {
    margin: 25px 0 0;
  }
  h4 {
    font-size: $base-h2-font-size;
  }
}

body.uk-background-default {
  #search-results {
    background-color: #fff;
    a {
      color: $global-secondary-background;
    }
  }
  .navbar {
    background-color: #fff;
  }
}


body.uk-background-secondary {
  #search-results {
    //background-color: $global-secondary-background;
  }
  .navbar-bg {
    background-color: #304FFE; //$global-secondary-background;
  }
}

footer {
    .social-links {
      letter-spacing: 2px;
        h4 {
            font-size: 1.625rem;
        }
    }
}

// Home page
.background-home-wrapper {
  z-index: 0;
}
.background-home {
  background-color: $global-secondary-background;
  z-index: -1;
  opacity: 0.5;
}
.text-xlarge {
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    font-size: $home-text-font-size;
    font-weight: 600;
    line-height: 1.4;
    p {
        margin-bottom: $global-medium-margin;
    }

}

@media (min-width: $breakpoint-small) {
    .text-xlarge {
        font-size: $home-text-font-size-s;
    }
}
@media (min-width: $breakpoint-medium) {
    .text-xlarge {
        font-size: $home-text-font-size-m;
        p {
            margin-bottom: $global-large-margin;
        }
    }
}
.about {
    a {
        color: $accent-color !important;
        &:hover {
            color: $accent-color;
        }
    }
}
.footer-home {
  padding-bottom: $global-xlarge-margin;
  p {
    font-size: .6em;
    letter-spacing: 1px;
    border-bottom: solid 4px #fff;
    line-height: 1;
    a:hover {
      text-decoration: none;
    }
  }
}

// Blog page and post
.height-large {
    height: 400px;
}
.button-category {
    background-color: transparent;
    margin: 0;
    border: solid 2px #fff;
    overflow: visible;
    font-family: "Futura-Medium", system-ui;
    //font-weight: 600;
    color: inherit;
    letter-spacing: 1px;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px 0;
    vertical-align: middle;
    font-size: 1.125rem;
    line-height: 47px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    &:hover {
      background-color: #fff;
      color: #000 !important;
      text-decoration: none;
    }
}
@mixin hook-article(){
  .article-content{
    font-size: 1.25rem;
    line-height: 1.8;
    > p, pre, img, > table, ul, ol{
      //margin-top: $global-medium-margin * 1.5;
      margin-bottom: $global-medium-margin * 1.3;
    }
    > p {
      pre, img {
        margin: 0;
      }
    }
    ul, ol {
      li {
        line-height: 2.25;
      }
    }
  }
}
@mixin hook-article-title(){
  margin-bottom: $global-medium-margin * 1;
}
@mixin hook-article-meta(){
    a {
        color: $article-meta-color;
        &:hover {
            color: $global-primary-background;
        }
    }
    .avatar {
        margin-right: 10px;
        float: left;
        border-radius: 50%;
    }
}
@mixin hook-article-misc(){
    .article-content {
        //line-height: 1.8;
    }
    h2.uk-article-title {
      font-size: 2.125rem; //2.375rem;
    }
    h3.uk-article-title {
      font-size: $base-h2-font-size;
      a {
        color: $global-secondary-background;
      }
    }
    .category-title {
      font-size: 2.5rem;
      //text-transform: uppercase;
      line-height: 1;
    }
    .categories {
      a:hover{
        text-decoration: none;
      }
    }
}

// Gist overrides
.article-content .gist {
  .gist-file {
      margin-bottom: $global-medium-margin * 1.3;
      border: none;
      border-radius: 0;
      background-color: #f1f1f1;
  }
  .gist-data {
      background-color: #f8f8f8;
      border-bottom: none;
      border-radius: 0;
      padding: 25px 15px;
      td.blob-num {
        display: none;
      }
  }
  .gist-meta {
      color: $base-code-color;
      background-color: #f1f1f1;
      border-radius: 0;
      padding: 15px 25px;
      visibility:collapse;
      a {
        visibility:visible;
        &:nth-child(3n){
          display: none;
        }
      }
  }
  .highlight {
      color: $base-code-color;
      background: #f8f8f8;
      border: 0;
  }
}
@mixin hook-container-misc(){
  .container-xsmall {
    max-width: 600px;
  }
}
