
@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Thin.svg#dc9a26cca500b040347ee82b781de72a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-ExtraLight.svg#5f8f3eb50ba1d35c02cd251081eb2021') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Light.svg#7f390ab1ed4575c0c535ed9378dd4959') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Regular.svg#98f2b05845e99896f66b5267f9b54840') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Book.svg#9bc3bb3e3fd3df276ffd2962ab82504e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Medium.svg#730adcd944c85cc60c01bda9f978ca06') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Bold.svg#52471c22e7b41994c6b7f2e56e29082b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Black.svg#a1898fc476260e29a96be7136a798323') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist-Ultra.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Geomanist-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Geomanist-Ultra.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Geomanist-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Geomanist-Ultra.svg#0305dc8e93f36aff0cb18390b872a2ba') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}


// Home page
.background-home-wrapper {
  z-index: 0;
}
.background-home {
  background-color: $global-secondary-background;
  z-index: -1;
  opacity: 0.5;
}
.text-xlarge {
    font-family: "Geomanist", Helvetica, Arial, sans-serif;
    font-size: $home-text-font-size;
    font-weight: 600;
    line-height: 1.4;
    p {
        margin-bottom: $global-medium-margin;
    }

}

@media (min-width: $breakpoint-small) {
    .text-xlarge {
        font-size: $home-text-font-size-s;
    }
}
@media (min-width: $breakpoint-medium) {
    .text-xlarge {
        font-size: $home-text-font-size-m;
        p {
            margin-bottom: $global-large-margin;
        }
    }
}
.about {
    a {
        color: $global-link-color !important;
        &:hover {
            color: $global-link-color;
        }
    }
}
.footer-home {
  padding-bottom: $global-xlarge-margin;
  p {
    font-size: .6em;
    letter-spacing: 1px;
    border-bottom: solid 4px #fff;
    line-height: 1;
    a:hover {
      text-decoration: none;
    }
  }
}

// Blog page
@mixin hook-article-title(){
  font-size: 1.5rem;
  font-weight: 500;
  a {
    color: $global-secondary-background;
  }
}

.button-category {
    background-color: transparent;
    margin: 0;
    border: none;
    overflow: visible;
    font-family: $base-heading-font-family;
    font-weight: 600;
    color: inherit;
    letter-spacing: 2px;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px 0;
    vertical-align: middle;
    font-size: 1.25rem;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    &:hover {
      background-color: $global-secondary-background;
      color: #fff;
      text-decoration: none;
    }
}


















body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}



.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


.uk-logo {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 2px;
    //color: #fff !important;
    span {
        font-size: 22px;
        margin-right: 12px;
    }
}

.uk-navbar-nav li a {
    letter-spacing: 2px;
    font-weight: 700;
}



footer {
    .tm-social-links {
        h3 {
            //font-size: 2.2rem;
        }
    }
}
// .uk-article {
//     // font-size: $text-large-font-size;
//     // line-height: 1.7;
//     // h1, h2 {
//     //     //font-weight: 700;
//     // }
//     // h2 {
//     //     //font-size: $base-h3-font-size;
//     // }
//     .uk-article-title a:hover {
//         //color: $global-secondary-background;
//         text-decoration: none;
//     }
//     img {
//         margin-top: $margin-medium-margin;
//         margin-bottom: $margin-medium-margin;
//     }
// }
@media (min-width: $breakpoint-medium) {
}
