
.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.tm-letter-spacing-l {
    letter-spacing: 2px;
}

.uk-logo {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 2px;
    color: $global-inverse-color !important;
    span {
        font-size: 22px;
        margin-right: 12px;
    }
}

.uk-navbar-nav li a {
    letter-spacing: 2px;
    font-weight: 700;
}
.tm-text-xlarge {
    font-family: $base-heading-font-family;
    font-size: $base-h5-font-size;
    font-weight: 700;
    letter-spacing: -1px;
    color: $global-inverse-color;
    p {
        margin-bottom: $global-medium-margin;
    }

}
@media (min-width: $breakpoint-small) {
    .tm-text-xlarge {
        font-size: $base-h4-font-size;
    }
}
.tm-heading-hero-l {
    margin-left: -0.9rem;
    span {
        display: block;
    }
}
.tm-section-about {
    a {
        color: $global-link-color!important;
        &:hover {
            color: $global-link-color;
        }
    }
    h2 {
        //font-size: $global-xxlarge-font-size;
    }
}
.tm-author-img {
    background-position: 100% 93%;
}
footer {
    .tm-social-links {
        h3 {
            //font-size: 2.2rem;
        }
    }
}
.uk-article {
    font-size: $text-large-font-size;
    line-height: 1.7;
    h1, h2 {
        font-weight: 800;
    }
    h2 {
        font-size: $base-h3-font-size;
    }
    .uk-article-title a:hover {
        color: $global-secondary-background;
        text-decoration: none;
    }
    img {
        margin-top: $margin-medium-margin;
        margin-bottom: $margin-medium-margin;
    }
}
@media (min-width: $breakpoint-medium) {
    .uk-article h1.uk-article-title {
        font-size: 6.6rem;
        margin-bottom: $margin-xlarge-margin;
    }
    .uk-article h2.uk-article-title {
        font-size: 3.8rem;
    }
}
.tm-author-box {
    line-height: 1.8;
}
