
$accent-color: #ffd012;
$global-secondary-background: #141415;

$global-link-color: $global-secondary-background;
$global-link-hover-color: $global-secondary-background;

$global-muted-color: #6f6f73;
$inverse-global-muted-color: #fff;
$inverse-global-color: #fff;

$global-color: $global-secondary-background;
$base-code-color: lighten($global-secondary-background, 15%);

$container-max-width: 1000px;
$container-small-max-width: 700px;

$base-body-font-family: system-ui;
$base-heading-font-family: "Geomanist", system-ui;

$base-heading-font-weight: 500;
$base-heading-color: $global-secondary-background;
$heading-hero-font-size:                         3rem;
$heading-hero-font-size-s:                       4rem;
$heading-hero-font-size-m:                       5.6rem;

$home-text-font-size: 2rem;
$home-text-font-size-s: 2.75rem;
$home-text-font-size-m: 3.75rem;

$heading-hero-line-height-m:                     0.88;

$article-meta-font-size: 	0.8125rem;
$article-meta-line-height: 1.3;

$base-h1-font-size: 1.875rem;
$base-h2-font-size: 1.5rem;
$base-h3-font-size: 1.25rem;
$base-h4-font-size: 1.125rem;

$text-large-font-size: 1.4rem;

$article-title-font-size: $base-h1-font-size;

$navbar-nav-item-height: 140px;
$inverse-navbar-nav-item-color: $global-secondary-background;
$navbar-nav-item-color: $global-secondary-background;
$navbar-nav-item-hover-color: $global-muted-color;
$navbar-nav-item-active-color: $global-muted-color;
$navbar-toggle-color: $global-secondary-background;
$navbar-toggle-hover-color: $global-muted-color;
$icon-link-color: $global-secondary-background;
$icon-link-hover-color: $global-muted-color;
