// 1. Your custom variables and variable overwrites.
//$global-link-color: #DA7D02;
$global-secondary-background: #020202;
$global-link-color: #f0506e;
$global-link-hover-color: #f0506e;
// $global-success-background: #32d296 !default;
// $global-warning-background: #faa05a !default;
// $global-danger-background: #f0506e !default;
$base-code-font-size: 16px;


$base-body-font-family: 'Lora', serif;
$base-heading-font-family: 'Nunito Sans', sans-serif;
$navbar-nav-item-font-family: 'Nunito Sans', sans-serif;
$logo-font-family: 'Quicksand', sans-serif;

$base-heading-font-weight: 700;
$base-heading-color: $global-secondary-background;
$heading-hero-font-size:                         5rem;
$heading-hero-font-size-s:                       8rem;
$heading-hero-font-size-m:                       13rem;
//$heading-hero-line-height:                       1.1;
//$heading-hero-line-height-s:                     1;
$heading-hero-line-height-m:                     0.88;


$base-h1-font-size: 8rem; // h1
$base-h2-font-size: 5.6rem; // h2
$base-h3-font-size: 4rem; // h3
$base-h4-font-size: 2.6rem; // h4
$base-h5-font-size: 2.1rem;

//$base-body-color: #000;

//$base-h1-font-size: $global-xxlarge-font-size !default;
//$base-h1-line-height: 1.2 !default;
//$global-xlarge-font-size: 2rem !default;
//$base-h2-font-size: $global-xlarge-font-size !default;
//$base-h2-line-height: 1.3 !default;
$text-large-font-size: 1.4rem;
//$base-h3-font-size: $global-large-font-size !default;
//$base-h3-line-height: 1.4 !default;
//$base-h4-font-size: $base-h4-font-size !default;
//$base-h4-line-height: 1.4 !default;
//$base-h5-font-size: $global-font-size !default;
//$base-h5-line-height: 1.4 !default;
//$base-h6-font-size: $global-small-font-size !default;
//$base-h6-line-height: 1.4 !default;

// Article
// $article-margin-top: $global-large-margin !default;
// $global-xxlarge-font-size: 2.625rem !default;
//$article-title-font-size: ;
$article-title-line-height: 1.1;
// $global-small-font-size: 0.875rem !default;
// $article-meta-font-size: $global-small-font-size !default;
// $article-meta-line-height: 1.4 !default;
// $global-muted-color: #999 !default;
// $article-meta-color: $global-muted-color !default;

//$global-large-gutter: 90px;
$navbar-nav-item-height: 100px;
$inverse-navbar-nav-item-color: rgba(255, 255, 255, 0.6);

//$inverse-global-muted-color:                     rgba($global-inverse-color, 0.9);
/*
$text-muted-color:                               $global-muted-color !default;
$text-primary-color:                             $global-primary-background !default;
$text-success-color:                             $global-success-background !default;
$text-warning-color:                             $global-warning-background !default;
$text-danger-color:
*/
