<div class="tm-author-box uk-text-large">
  <a href="{{ site.baseurl }}/"><img class="uk-responsive-width uk-margin-bottom" src="/assets/img/ivan.jpg"></a>
  {% if site.description %}
    <p class="text-muted mt-5 mb-4">{{ site.description }}</p>
  {% endif %}

  <a target="_blank" href="https://themeforest.net/user/pressapps/portfolio"><span uk-icon="icon: arrow-right"></span> Products on Envato</a>
  <br>
  {% if site.author.github %}
    <a target="_blank" href="https://github.com/{{ site.author.github }}"><span uk-icon="icon: arrow-right"></span> Projects on Github</a>
  {% endif %}
  <br>
  {% if site.author.twitter %}
    <a target="_blank" href="https://twitter.com/{{ site.author.twitter }}"><span uk-icon="icon: arrow-right"></span> Connect on Twitter</a>
  {% endif %}
</div>
