<div class="author-box">
  <a href="{{ site.baseurl }}{% link blog.md %}"><img class="author-img img-fluid" src="/assets/img/ivan.jpg"></a>
  {% if site.description %}
    <p class="text-muted mt-5 mb-4">{{ site.description }}</p>
  {% endif %}

  {% if site.github_username %}
    <a target="_blank" href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span> Projects on Github</a>
  {% endif %}

  {% if site.twitter_username %}
    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span> Connect on Twitter</a>
  {% endif %}
</div>
