<footer class="site-footer pt-5 pb-5">

  <div class="container">

    <nav class="nav">
      <a class="nav-link active" href="#">Active</a>
      <a class="nav-link" href="#">Link</a>
      {% if site.github_username %}
        <a class="nav-link" href="#">{% include icon-github.html username=site.github_username %}</a>
      {% endif %}

      {% if site.twitter_username %}
        <a class="nav-link" href="#">{% include icon-twitter.html username=site.twitter_username %}</a>
      {% endif %}

      {% if site.email %}
        <a class="nav-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {% endif %}
      <a class="nav-link" href="#">{{ site.title | escape }}</a>
    </nav>

    <p><small>{{ site.footer_text }}</small></p>

  </div>

</footer>
