<header data-uk-sticky="sel-target: .navbar; cls-active: uk-navbar-sticky" class="uk-sticky uk-sticky-fixed">
  <div class="navbar">
    <nav>
      <div class="uk-container uk-position-relative">
          <div data-uk-navbar>
              <div class="nav-overlay uk-navbar-left">

                  <a class="uk-logo" href="{{ "/" | relative_url }}"><img src="/assets/img/logo-{% if page.layout == 'home' %}light{% else %}dark{% endif %}.png" alt="Ivan"></a>

              </div>
              <div class="nav-overlay uk-navbar-right">
                  <ul class="uk-navbar-nav">
                    {% for link in site.data.navigation %}
                        {% if link.url contains 'http' %}
                            {% assign domain = '' %}
                        {% else %}
                            {% assign domain = relative_url %}
                        {% endif %}
                        {% if link.url == page.url %}
                            {% assign current = ' class="uk-active"' %}
                        {% else %}
                            {% assign current = null %}
                        {% endif %}
                        {% if link.title %}
                            <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                  </ul>

                  <a class="uk-navbar-toggle" data-uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

                  <a href="/blog/" class="uk-icon-link" data-uk-icon="icon: table"></a>

              </div>

              <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>

                  <div class="uk-navbar-item uk-width-expand">
                      <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="return false;">
                          <input id="search" class="uk-search-input" type="search" placeholder="Search..." autofocus>
                          {% include search-results.html %}
                      </form>
                  </div>

                  <a class="uk-navbar-toggle" data-uk-close data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

              </div>

          </div>


      </div>

    </nav>
  </div>
</header>
