<div class="navbar">
  <nav>
    <div class="uk-container uk-position-relative">
        <div data-uk-navbar>
            <div class="uk-navbar-left">

                <a class="uk-logo" href="{{ "/" | relative_url }}"><img src="/assets/img/logo-{% if page.navbar == 'hero' %}light{% else %}dark{% endif %}.svg" alt="Clearly"></a>

            </div>
            <div class="nav-overlay uk-navbar-right">

                <a class="uk-navbar-toggle" href="#menu" data-uk-toggle>
                    <span class="uk-margin-small-left">Search</span>
                </a>

            </div>
        </div>
    </div>
  </nav>
</div>
