<div data-uk-grid>
  <div class="uk-width-1-1 uk-width-1-2@m">
    {% if page.author %}
      {% assign author = site.authors[page.author] %}
    {% else %}
      {% assign author = site.author %}
    {% endif %}

    {% if author.github %}
        {% avatar {{ author.github }} size=48 %}
    {% endif %}

    {% if author.name %}
        Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span><br>
    {% endif %}

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
    </time>
  </div>

  <div class="uk-width-1-1 uk-width-1-2@m uk-text-right@m">
    {% if page.tags %}
    <p class="meta-tags">
      {% for tag in page.tags %}
        <span>#{{ tag }}</span>
      {% endfor %}
    </p>
    {% endif %}
  </div>

</div>
