/**
* Global
**/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  transition: .2s;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.link-inverted {
  color: $black;
  &:hover {
    color: $brand-primary;
  }
}
.bottom-line {
    border-bottom: 3px solid black;
}
// Horizontal rules
hr {
  margin-top: $spacer-y * 2;
  margin-bottom: $spacer-y * 2;
}
.title-1 {
  font-size: 2.4rem;
}
.title-2 {
  font-size: 2rem;
}
@include media-breakpoint-up(sm) {
  .title-1 {
    font-size: 3rem;
  }
}
@include media-breakpoint-up(md) {
  .title-1 {
    font-size: 5rem;
  }
  .title-2 {
    font-size: 2.6rem;
  }
}
@include media-breakpoint-up(lg) {
  .title-1 {
    font-size: 6.6rem;
  }
  .title-2 {
    font-size: 3.4rem;
  }
}
@include media-breakpoint-down(md) {
  .sidebar {
    order: 1;
  }
}

/**
* Social Icons in Links
**/
a {
  &:hover {
    .icon path {
      fill: $black;
    }
  }
  .icon path {
    fill: $brand-primary;
  }
}

/**
* Header
**/
.brand img {
  max-width: 160px;
}
.site-header {
  font-family: $font-family-sans-serif;
  font-weight: $headings-font-weight;
}
.site-nav {
  ul {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    li {
      flex-grow: 1;
      margin: 15px 0;
    }
  }
  a {
    display: block;
    padding: 5px 0;
    border-bottom: 3px solid $black;
    &:hover {
      border-color: $brand-primary;
    }
  }
}
.header-inverted {
  .site-header, .post-header {
    background: $brand-primary;
    color: $white;
  }
  .site-nav {
    a {
      color: $white;
      border-color: $white;
      &:hover {
        color: $black;
        border-color: $black;
      }
    }
  }
}
.header-light {
  .site-header, .post-header {
    background: #ecf0f1;
  }
}
@include media-breakpoint-up(md) {
  .site-nav {
    li {
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

/**
* Masonry Grid
**/
.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(142,154,163,0.2);
  -moz-box-shadow: 0px 0px 15px 1px rgba(142,154,163,0.2);
  box-shadow: 0px 0px 15px 1px rgba(142,154,163,0.2);
}
.grid-sizer,
.grid-item {
  width: 100%;
}
.grid-col-2 {
  .grid-item {
    margin-bottom: 80px;
  }
}
.grid-col-3 {
  .grid-item {
    margin-bottom: 30px;
  }
}
@include media-breakpoint-up(md) {
  .grid-col-3 {
    .grid-sizer,
    .grid-item {
      width: calc(50% - 15px);
    }
  }
}
@include media-breakpoint-up(lg) {
  .grid-col-2 {
    .grid-sizer,
    .grid-item {
      width: calc(50% - 40px);
    }
  }
  .grid-col-3 {
    .grid-sizer,
    .grid-item {
      width: calc(33.333% - 20px);
    }
  }
}

/**
* Home Page
**/
.post-list {
  > div:last-child {
    margin-bottom: 0 !important;
  }
  p {
    font-size: 1.4rem;
  }
}

/**
* Post Page
**/
.post-content {
  p, img {
    margin-bottom: 2rem;
  }
  p:first-child {
    font-size: 1.6rem;
    line-height: 1.65;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.author-box {
  a {
    display: block;
  }
}
