---
layout: default
title: Reading List
navbar: hero
---

<div class="uk-position-relative uk-background-cover uk-background-center-center uk-background-norepeat uk-background-image@s" style="background-image: url(../assets/img/street.jpg);">
  <div class="section-overlay section-reading-overlay uk-position-absolute "></div>

  {% include navbar-static.html %}

  <div class="uk-position-relative">
    <div class="uk-container" data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true;">
      <div class="uk-margin-large-top uk-margin-xlarge-bottom uk-flex uk-flex-middle" uk-grid>
        <div class="uk-width-2-3@m">
          <h1 class="uk-heading-primary">{{ page.title | escape }}</h1>
          <blockquote class="uk-text-lead">
              <p class="uk-margin-small-bottom">It is what you read when you don't have to that determines what you will be when you can't help it.</p>
              <footer>Oscar Wilde</footer>
          </blockquote>
          <div class="uk-width-4-5@l">
            <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-flex uk-margin-medium-top" uk-grid>
              {% for category in topics %}
                <div>
                  <a href="#{{ category | slugify }}" class="button-category uk-width-1-1" data-uk-scroll="duration: 400; offset: 130">{{ category }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="uk-width-expand@m uk-visible@m uk-text-center">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-small">

    <div class="uk-margin-xlarge-top uk-margin-xlarge-bottom">
      {% for item in site.reading reversed %}
        <article class="uk-article">
          <div class="uk-grid-large" data-uk-grid>

            <div class="uk-width-1-4">
                <a href="{{item.link}}" target="_blank"><img class="uk-width-1-1" src="{% if item.image contains '//' %}{{ item.image }}{% else %}{{ site.assets_reading | absolute_url }}{{ item.image }}{% endif %}" alt="{{item.title}}" data-uk-img></a>
            </div>
            <div class="uk-width-3-4">
              <h2 class="uk-article-title uk-margin-small-bottom"><a href="{{item.link}}" target="_blank">{{item.title}}</a></h2>
              <p>by {{ item.author }}</p>
              <div class="article-content">{{ item.content }}</div>

              <!-- <p class="uk-article-meta">
                {% for tag in item.tags %}
                  <span class="card-label">{{ tag }}</span>
                {% endfor %}
              </p> -->
            </div>

          </div>
        </article>
      {% endfor %}
    </div>

</div>
