---
layout: default
---

<div class="uk-section uk-section-secondary">
    <div class="uk-container">
        <div>
            <h1 class="uk-heading-hero tm-heading-hero-l uk-margin-xlarge-bottom-">{{ page.title | escape }} {% if page.subtitle %}<span>{{ page.subtitle | escape }}</span>{% endif %}</h1>
        </div>
    </div>
</div>

<div class="tm-section-about uk-section-secondary">
    <div class="uk-container">
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-expand@m tm-text-xlarge">{{ content }}</div>
            <div class="uk-width-1-2@m uk-background-contain tm-author-img" style="background-image: url(../assets/img/ivan_bg.png);"></div>
        </div>
        <hr class="uk-margin-large-top uk-margin-large-bottom">
        <h2 class="uk-margin-large-top uk-margin-large-bottom uk-text-center">Envato Recognition</h2>
        <img class="uk-margin-small-top img-fluid" src="/assets/img/recognition.png">
        <hr class="uk-margin-large-top">
    </div>
</div>
