---
layout: default
---

<div class="section-about uk-light uk-position-relative">
  <div class="section-about-bg uk-position-absolute uk-background-contain uk-background-top-right uk-background-norepeat uk-background-image@s" style="background-image: url(../assets/img/ivan_bg.png);" data-uk-scrollspy="cls: uk-animation-slide-right-small; repeat: true;"></div>

  {% include navbar-static.html %}

  <div class="wrapper-about uk-flex uk-flex-middle uk-position-relative">
    <div class="uk-container">
      <div class="uk-padding uk-padding-remove-horizontal">

        <div class="uk-width-1-1 uk-width-3-4@m">
          <h1 class="uk-heading-hero">{{ page.hero.title }}</h1>
        </div>

        <div class="uk-width-1-1 uk-width-3-5@m uk-text-lead">
          <p class="uk-margin-remove-bottom">Multi-talented web UX/UI designer and developer, Envato Elite author with over 12000 customers and the creator of the best selling WordPress knowledge base plugin.</p>
        </div>

        <div class="uk-width-1-1 uk-width-3-5@m">
          <div class="uk-margin-medium-top">
            {% include newsletter.html %}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="about-scroll">
    <div class="uk-container"><a class="hvr-down" href="#work" data-uk-scroll="duration: 400">{% include icon-arrow-down.svg %}</a></div>
  </div>

</div>

<div class="uk-section uk-section-secondary uk-section-large uk-light">
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-primary">1% Net Worth</h2>
    <p class="uk-text-lead uk-margin-medium-bottom">Can someone with no money, education and connections become top 1% net worth individual? Join me on a jorney to find out, everything that I learn and experience is shared right here.</p>
    <a class="uk-button uk-button-default uk-button-large uk-margin-top" href="/wealth/">Join The Journey</a>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-primary uk-light">
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-primary uk-margin-medium-bottom">Tools I Use</h2>
    <p class="uk-text-lead uk-margin-medium-bottom">Resources and tools to help you achieve your goals, focus and what is important and experience amazing life.</p>
  </div>
  <div class="uk-container container-xsmall">
    {% for post in site.categories["Tools"] limit:3 %}
      <h3 class="uk-text-lead uk-margin hvr-forward"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} &rarr;</a></h3>
    {% endfor %}
  </div>
  <div class="uk-container uk-container-small uk-text-center">
    <a class="uk-button uk-button-default uk-margin-top" href="/tools/">All Tools</a>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-secondary uk-light">
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-primary uk-margin-medium-bottom">Reading List</h2>
    <p class="uk-text-lead uk-margin-medium-bottom">Whatever you are trying to master, there have already been people who done it, their experience can propel us forward!</p>
  </div>
  <div class="uk-container uk-container-small uk-text-center">
    <a class="uk-button uk-button-default uk-margin-top" href="/reading/">See Reading List</a>
  </div>
</div>

<div class="uk-section uk-section-large">
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-primary uk-margin-medium-bottom">Latest Posts</h2>
  </div>
  <div class="uk-container container-xsmall">
    {% for post in site.categories["Blog"] limit:3 %}
      <h3 class="uk-text-lead uk-margin hvr-forward"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} &rarr;</a></h3>
    {% endfor %}
  </div>
  <div class="uk-container uk-container-small uk-text-center">
    <a class="uk-button uk-button-default uk-margin-top" href="/blog/">All Posts</a>
  </div>
</div>

<!-- <div id="work" class="uk-background-muted uk-section uk-section-large work">
  <div class="uk-container">
    {% for item in site.work reversed %}
      {% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}
      {% if thecycle == 'left' %}
      <div class="uk-card uk-grid-collapse uk-margin-xlarge" data-uk-grid>
          <div class="uk-card-media-left uk-cover-container uk-width-expand@m uk-border-rounded uk-box-shadow-large" data-uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true;">
              <a href="{{ item.url }}"><img src="{{ site.assets_posts }}{{ item.image }}" alt="{{ item.title }}" data-uk-cover>
              <canvas width="900" height="675"></canvas></a>
          </div>
          <div class="uk-width-2-5@m uk-flex uk-flex-middle">
              <div class="uk-card-body uk-card-large">
                  <a class="hvr-forward" href="{{ item.url }}"><h3 class="uk-card-title">{{ item.title }}</h3>{% include icon-arrow-right.svg %}</a>
              </div>
          </div>
      </div>
      {% else %}
      <div class="uk-card uk-grid-collapse uk-margin-xlarge" data-uk-grid>
          <div class="uk-flex-last@m uk-card-media-right uk-cover-container uk-width-expand@m uk-border-rounded uk-box-shadow-large" data-uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true;">
              <a href="{{ item.url }}"><img src="{{ site.assets_posts }}{{ item.image }}" alt="{{ item.title }}" data-uk-cover>
              <canvas width="900" height="675"></canvas></a>
          </div>
          <div class="uk-width-2-5@m uk-flex uk-flex-middle">
              <div class="uk-card-body uk-card-large">
                  <a class="hvr-forward" href="{{ item.url }}"><h3 class="uk-card-title">{{ item.title }}</h3>{% include icon-arrow-right.svg %}</a>
              </div>
          </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div> -->

<div class="uk-section uk-section-large uk-background-secondary uk-light">
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-primary">Newsletter</h2>
    <p class="uk-text-lead uk-margin-medium-bottom">Sign up now and join me on the journey! You will receive a weekly newsletter of my articles on achieving goals.</p>
  </div>
  <div class="uk-container container-xsmall">
    {% include newsletter.html %}
  </div>
</div>
