---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header mb-5 mb-lg-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-4">
          <h1 class="title-1 m-0" itemprop="name headline">{{ page.title | escape }}</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-1">
        <div class="post-content" itemprop="articleBody">
          {{ content }}
          {% include share.html %}
        </div>
      </div>
      <div class="col-lg-3 flex-lg-first">
        {% include author.html %}
      </div>
    </div>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
