---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <div class="uk-section uk-section-secondary">
        <div class="uk-container">
            <div>
                <h1 class="uk-heading-hero tm-heading-hero-l uk-margin-xlarge-bottom-">{{ page.title | escape }} {% if page.subtitle %}<span>{{ page.subtitle | escape }}</span>{% endif %}</h1>
                <!--
                <p class="uk-article-meta">{% include author.html %}</p>
            -->
            </div>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <div>
              {{ content }}
              {% include share.html %}
            </div>
            {% if site.disqus.shortname %}
              {% include disqus_comments.html %}
            {% endif %}
        </div>
    </div>

</article>
